html {
  background-color: #f2f1ed;
  font-family: "Open Sans", sans-serif;
}

.wordmark {
  text-align: center;
  margin: 0 auto;
}

.wordmark img {
  max-width: 200px;
  min-width: 150px;
  width: 70%;
}

nav {
  font-family: 'Sintony', sans-serif;
}
