html {
  background-color: #f2f1ed;
  font-family: "Open Sans", sans-serif;
}

.wordmark {
  text-align: center;
  margin: 0 auto;
}

.wordmark img {
  max-width: 200px;
  min-width: 150px;
  width: 70%;
}

header nav {
  text-align: center;
  font-family: 'Sintony', sans-serif;
}

header nav li {
  margin-bottom: 1.75em;
  display: block;
  width: 100%;
}

header nav li a {
  color: #204A94;
  margin-right: 0;
  text-decoration: none;
}

@media only screen and (min-width: 60em) {

  header nav {
    text-align: left;
  }

}

@media only screen and (min-width: 25em) {

  header nav ul li {
    display: inline;
    margin: 0 1em;
  }

}
